doctype 5
html
  head
    title= 'JB - Single Page App v2'
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
    link(rel='stylesheet', href='css/main.css')

  body.clear
    .container
        #sidebar.column
            //- Logo Section
            a(href="/")
                .logo.clear

            //- Navigation Menu
            ul.nav.clear
                li
                    a(href="/")
                        i.icon-home
                        | Blog
                li.active
                    a(href="#")
                        i.icon-briefcase
                        | Resume
                li
                    a(href="#")
                        i.icon-envelope
                        | Contact

            //- Recent Comments Secion
            h3 Recent Comments
            div.comments.small
                p Great tutorial.. really helped me understand this concept
                span.text-right 6 min ago <span>by<span> John Myer

            div.comments.small
                p Another pretty much useless comment with small words.
                span.text-right 1 hr ago <span>by<span> Jose Browne

            footer.clear.text-center &copy; 2013<br>Powered by Express & MongoDB


        #main.column
            header.clear
                .crums.pull-left <span>Blog ></span> The Title of a Blog Post
                form.searchForm
                    input(placeholder="Search for it...").search.pull-right  Search input
            //- Content container
            .content.clear
                .posts.clear



    //- Modal Structure
    .md-content
    .md-overlay
        span.x-button X

    //- BB Template: Post
    script(type="text/template", id="articleTemplate")
        h1.title(data-alias!="<%= alias %>") <%= title %>
        <%= contentIntro %>
        .meta
            i.icon-eye-open
            | <%= views %> visits
            i.icon-comments
            | 12 comments
            i.icon-time
            | <%= created %> ago
            i.icon-tags
            | tutorial, tips, personal
            a.button.blue.pull-right(href="#", data-alias!="<%= alias %>") open

    //- BB Template: Post Modal
    script(type="text/template", id="postModalTemplate")
        .info.full
            h1.title <%= title %>
            .meta
                i.icon-eye-open
                | <%= views %> visits
                i.icon-comments
                | 12 comments
                i.icon-time
                | <%= created %> ago
                i.icon-tags
                | tutorial, tips, personal
        .content
            <%= content %>
        hr.full
        h3 Sharing Stuff
        #disqus_thread

    script(src='components/jquery/jquery.js')
    script(src='components/underscore/underscore.js')
    script(src='components/backbone/backbone.js')
    script(src='components/nprogress/nprogress.js')
    script(src='js/main.js')
    script(src='js/helpers.js')
    script(src='http://localhost:35729/livereload.js')


    // initialization script
    script .
        var disqus_shortname = 'josebrowne';
        var bootstrapData = !{JSON.stringify(initData)};
        App.init(bootstrapData);

