doctype 5
html
  head
    title= 'JB - Single Page App v2'
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0 user-scalable=no")
    link(rel='stylesheet', href='css/main.css')

  body(ontouchstart).clear
    .container
        #sidebar.column.animate
            //- Logo Section
            a(href="/")
                .logo.clear

            //- Navigation Menu
            ul.nav.clear
                li.all
                    a(href="/", data-tag="all")
                        i.icon-home
                        | All
                li.tips
                    a(href="#", data-tag="tips")
                        i.icon-lightbulb
                        | Tips
                li.tutorials
                    a(href="#", data-tag="tutorials")
                        i.icon-question-sign
                        | Tutorials
                li.personal
                    a(href="#", data-tag="personal")
                        i.icon-male
                        | Personal
            //- Recent Comments Secion
            h3 Recent Comments
            div.comments.small
                p Great tutorial.. really helped me understand this concept
                span.text-right 6 min ago <span>by<span> John Myer

            div.comments.small
                p Another pretty much useless comment with small words.
                span.text-right 1 hr ago <span>by<span> Jose Browne

            footer.clear.text-center &copy; 2013<br>Powered by Express & MongoDB


        #main.column
            header.clear.animate
                .inner
                    .title.pull-left
                        a(href="#").sidebar-btn
                            i.icon-reorder
                        | Blog
                        span.text
                    //- form.searchForm
                    //-     input(placeholder="Search for it...").search.pull-right  Search input
            //- Content container
            .content.clear.animate
                .posts.clear



    //- Modal Structure
    .md-content.animate
    .md-overlay.animate
    span.md-overlay-x X

    //- BB Template: Post
    script(type="text/template", id="articleTemplate")
        h1.title(data-alias!="<%= alias %>") <%= title %>
        <%= contentIntro %>
        .meta
            i.icon-eye-open     <%= views %> visits
            i.icon-comments
                a(data-disqus-identifier!="<%= typeof(disqusId) !== 'undefined' ? disqusId : alias %>") 0 Comments
            i.icon-time     <%= created %>
            i.icon-tags     <%= tags %>
            a.button.pull-right(class!="<%= tags %>",href="#", data-alias!="<%= alias %>") open

    //- BB Template: Post Modal
    script(type="text/template", id="postModalTemplate")
        .info.full(class!="<%= tags %>")
            h1.title <%= title %>
            .meta
                i.icon-eye-open     <%= views %> visits
                i.icon-comments
                    a(data-disqus-identifier!="<%= typeof(disqusId) !== 'undefined' ? disqusId : alias %>") 0 Comments
                i.icon-time     <%= created %>
                i.icon-tags     <%= tags %>
        .content
            <%= content %>
        hr.full.endRuler
        h3 Sharing Stuff
        #disqus_thread

    script(src='components/jquery/jquery.js')
    script(src='components/underscore/underscore.js')
    script(src='components/backbone/backbone.js')
    script(src='components/nprogress/nprogress.js')
    script(src='js/main.js')
    script(src='js/helpers.js')
    script(src='http://localhost:35729/livereload.js')


    // initialization script
    script .
        var disqus_shortname = 'josebrowne';
        var bootstrapData = !{JSON.stringify(initData)};
        App.init(bootstrapData);

